*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: fantasy;
}
:root{
    --bg-volour: #f77ab4;
    --shadow-lightpink: #ffb6c1;
    --shadow-darkpink: #c71585;
    --text-green: #95de6e;
    --text-blue: #6ec1de;
    --accent-red: #f06c6c;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(#e85097, #ffb6c1, #cefab6, #95de6e);
   background-size: 400% 400%;
    animation: gradientBG 5s ease infinite;
}

@keyframes gradientBG {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

.calculator{
    background-color: var(--bg-color);
    padding: 25px;
    border-radius: 38px;
    box-shadow:15px 15px 30px var(--shadow-darkpink),
               -15px -15px 30px var(--shadow-lightpink);
    width: 300px;
}


.display_container{
    margin-bottom: 20px;
}
#display{
    width: 100%;
    height: 60px;
    background-color: var(--bg-color);
    border: none;
    outline: none;
    text-align:right;
    font-size: 3rem;
    color: var(--text-green);
    padding: 10px;
    box-shadow: inset 5px 5px 10px var(--shadow-darkpink),
                inset -5px -5px 10px var(--shadow-lightpink);
    border-radius: 15px;
}